

div {
    background:blue;
}

.logo {
    display:inline-block;
    padding:15px 0;
    margin:15px;
    vertical-align:top;
}

.estilo-texto {
    font-weight:bold;
    text-align:center;
}

.tabela {
    width: 100%;
    
	margin: 0 auto;
	padding: 0;    
}

.menu {
    background: blue;
    width: 20%;
}

.corpo {
    background: red;
    width: 80%;
}
